.suo
.user
.csproj
.vs
[Dd]ebug/
[Dd]ebugPublic/
[Bb]in/
[Ll]og/
[Oo]bj/
*_i.c
*_p.c
*_i.h
*.meta
*.ilk
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.scc

packages/

Proj/Images
Proj/fonts

.sln
*.snupkg
**/[Pp]ackages/**
**/Images/**
**/fonts/**

*.asax
