
@{
    ViewBag.Title = "فعالسازی حساب";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<h2>فعالسازی حساب کاربری</h2>
<div class="alert alert-success margin-top-15">
    <h1>@ViewBag.username عزیز!</h1>
    <p>
        حساب کاربری شما فعال شد از طریق 
        <a href="/Login">این لینک</a>
        می توانید وارد حساب کاربری خود شوید.
    </p>
</div>



