@model DataLayer.User
@{
    ViewBag.Title = "ثبت نام !";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<h2 ">ثبت نام</h2>
<hr />
<div class="alert alert-success">
    کاربر عزیز ، @Model.user_name
    <hr />
    با تشکر از ثبت نام شما
    پیامی حاوی لینک فعالسازی به ایمیل @Model.email ارسال شد ،جهت فعالسازی حساب خود روی لینک ذکر شده کلیک کنید! 
</div>

