@model DataLayer.User
@{
    ViewBag.Title = "بازیابی کلمه عبور";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}


<div class="alert alert-success margin-top-15">
    کاربر عزیز ، @Model.user_name
    <hr />
    
     پیامی حاوی لینک تغییر رمزعبور به ایمیل @Model.email ارسال شد ،جهت بازیابی رمزعبور حساب خود روی لینک ذکر شده کلیک کنید!
</div>

