@using System.Configuration
@model DataLayer.User
<div style="direction: rtl; padding: 20px">
    <h2>@Model.user_name عزیز !</h2>
    <p>جهت بازیابی رمز عبور بر  .
    
        <a href="@ConfigurationManager.AppSettings["MyDomain"]/Account/PasswordRecovery/@Model.ActiveCode">این لینک</a>
   کلیک کنید
    </p>
</div>
